<div class="rec">
  <h4 class="jumbotron" style="text-align: center">Add doctor: </h4>
  <form style="margin-left:26%">
    <div class="form-group row" style="margin-top: 10%">
      <label for="first_name">First name: </label>
      <input type="text" class="form-control" name="first_name" id="first_name" [(ngModel)]="user['firstname']" required
             style="width: 40%;margin-left: 9%"/>
    </div>

    <div class="form-group row">
      <label for="last_name">Last name: </label>
      <input type="text" class="form-control" name="last_name" id="last_name" [(ngModel)]="user.lastname" required
             style="width:40%;margin-left: 9%"/>
    </div>
    <div class="form-group row">
      <label for="username">Username: </label>
      <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" required
             style="width: 40%;margin-left: 9%" placeholder="Username"/>
    </div>
    <div class="form-group row">
      <label for="password">Password: </label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" required
             style="width: 40%;margin-left: 9.5%"/>
    </div>
    <button (click)="addDoctor()" class="btn btn-info" style="margin-top: 5%;margin-left: 25%">Add doctor
    </button>
  </form>
</div>
<div class="rec" *ngIf="doctors">
  <h4 class="jumbotron" style="text-align: center">Doctors in system: </h4>
  <table class="table">
    <tr class="bg-primary">
      <th>Username</th>
      <th>Name</th>
      <th>Last name</th>
    </tr>
    <tr *ngFor="let doctor of doctors">
      <td>{{doctor.username}}</td>
      <td>{{doctor.firstname}}</td>
      <td>{{doctor.lastname}}</td>
    </tr>
  </table>
</div>
